# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import init.qcom.usb.rc

on early-init
    mkdir /firmware 0771 system system
    symlink /data/tombstones /tombstones
    mkdir /efs 0771 system system

on fs
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/mdm 0771 system system
    mkdir /tombstones/lpass 0771 system system

    mount_all fstab.qcom

on post-fs-data
    mkdir /data/media 0775 media_rw media_rw
    mkdir /data/media/Android 0775 media_rw media_rw
    chown media_rw media_rw /data/media

    mkdir /system/etc/firmware/misc 0771 system system
    mkdir /system/etc/firmware/misc_mdm 0771 system system

    write /sys/devices/i2c-0/0-0024/cyttsp_update_fw 1

    chown radio system /efs
    chmod 0771 /efs
    mkdir /efs/imei 0775
    chown radio system /efs/imei
    chown radio system /efs/imei/keystr
    chmod 0775 /efs/imei
    chmod 0775 /efs/imei/keystr
    mkdir /efs/bluetooth
    mkdir /efs/wifi
    chown radio system /efs/bluetooth
    chown radio system /efs/wifi
    chmod 0775 /efs/bluetooth
    chmod 0775 /efs/wifi
    write /sys/block/mmcblk0/queue/iosched/front_merges 0
    write /sys/block/mmcblk0/queue/iosched/read_expire 100
    write /sys/block/mmcblk0/queue/iosched/write_expire 1000

    mkdir /data/radio 0770 radio radio
    mkdir /data/misc/radio 0775 radio system

    # for parameter
    chown system radio /dev/block/mmcblk0p12
    chmod 0660 /dev/block/mmcblk0p12
    # DLEVEL
    chown system radio /sys/devices/platform/sec_debug_level
    chmod 0664 /sys/devices/platform/sec_debug_level
    chown system radio /sys/devices/virtual/misc/level/control
    chmod 0664 /sys/devices/virtual/misc/level/control

    # permission for qc modem silrent reset
    chown radio system /sys/module/subsystem_restart/parameters/restart_level

    # permission for fast dormacy for RIL
    chown radio system /sys/devices/virtual/sec/sdio_al/waketime

    # Vibetonz
    chmod 0660 /dev/tspdrv
    chown root shell /dev/tspdrv

    # Permissions for LCD
    chown radio system /sys/class/lcd/panel/lcd_type
    chown radio system /sys/class/lcd/panel/lcd_power
    chown system media_rw /sys/class/lcd/panel/power_reduce
    chown radio system /sys/class/backlight/panel/auto_brightness

    chown media system /sys/devices/virtual/jack/jack_reselector/reselect_jack

    chown radio system /sys/devices/virtual/misc/sec_touchkey/touch_sensitivity
    chown radio system /sys/devices/virtual/misc/sec_touchkey/enable_disable
    chown radio system /sys/devices/virtual/misc/sec_touchkey/touch_update
    chown radio system /sys/devices/virtual/misc/sec_touchkey/touch_version
    chown radio system /sys/devices/virtual/misc/sec_touchkey/brightness
    chown radio system /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_version_panel
    chown radio system /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_version_phone
    chown radio system /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_update_status
    chown radio system /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_update
    chown radio system /sys/devices/virtual/sec/sec_touchkey/touchkey_brightness

    chown radio system /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_version_panel
    chown radio system /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_version_phone
    chown radio system /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_update_status
    chown radio system /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_update
    chown radio system /sys/devices/virtual/sec/sec_touchscreen/tsp_threshold
    chown radio system /sys/devices/virtual/sec/sec_touchscreen/set_tsp_for_drawing

    chown radio system /sys/devices/platform/android_usb/UsbMenuSel
    chown radio system /sys/devices/platform/android_usb/tethering
    chown radio system /sys/devices/platform/android_usb/ums
    chown radio system /sys/devices/virtual/sec/switch/uart_sel
    chown radio system /sys/devices/virtual/sec/switch/usb_sel
    chown radio system /sys/devices/virtual/sec/switch/.usb_lock/enable
    chown radio system /sys/devices/virtual/sec/switch/device_type
    chown radio system /sys/devices/virtual/sec/switch/disable_vbus
    chown radio system /sys/devices/virtual/sec/switch/usb_state

    # Permissions for Battery driver
    chown radio system /sys/class/power_supply/battery/batt_esus_test
    chown radio system /sys/class/power_supply/battery/batt_test_value
    chown radio system /sys/class/power_supply/battery/batt_lpm_state
    chown radio system /sys/class/power_supply/battery/fg_psoc
    chown radio system /sys/class/power_supply/battery/system_rev
    chown radio system /sys/class/power_supply/battery/batt_current_adc
    chown radio system /sys/class/power_supply/battery/batt_test_value
    chown radio system /sys/class/power_supply/battery/batt_temp_adc_spec
    chown radio system /sys/class/power_supply/battery/batt_temp_check
    chown radio system /sys/class/power_supply/battery/batt_full_check
    chown radio system /sys/class/power_supply/battery/batt_type
    chown radio system /sys/class/power_supply/battery/batt_lp_charging
    chown radio system /sys/class/power_supply/battery/charging_source
    chown radio system /sys/class/power_supply/battery/batt_temp_adc
    chown radio system /sys/class/power_supply/battery/batt_temp
    chown radio system /sys/class/power_supply/battery/batt_vfocv
    chown radio system /sys/class/power_supply/battery/batt_soc
    chown radio system /sys/class/power_supply/battery/batt_vol
    chown radio system /sys/class/power_supply/battery/batt_esus_test
    chown radio system /sys/class/power_supply/battery/camera
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/mp3
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
    chown radio system /sys/class/power_supply/battery/talk_wcdma
    chown radio system /sys/class/power_supply/battery/talk_gsm
    chown radio system /sys/class/power_supply/battery/data_call
    chown radio system /sys/class/power_supply/battery/batt_wifi
    chown radio system /sys/class/power_supply/battery/gps
    chown radio system /sys/class/power_supply/battery/device_state

    # allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    # USB
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

    # OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

    # Essential node for usbservice
    mkdir /dev/bus/ 755 root root
    mkdir /dev/bus/usb 755 root root

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    mkdir /data/system 0775 system system

    setprop vold.post_fs_data_done 1

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system

    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    #External storage directories
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw

    mkdir /storage/sdcard1 0700 root root
    mkdir /storage/usbdisk 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # for backwards compatibility
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard1 /mnt/external_sd
    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk

    # do USB things
    chown root system /sys/devices/platform/msm_hsusb/gadget/wakeup
    chmod 220 /sys/devices/platform/msm_hsusb/gadget/wakeup

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    exec /system/bin/sh /init.qcom.syspart_fixup.sh

on boot
    chown system system /dev/accelerometer
    chown system system /dev/akm8975
    chmod 664 /dev/accelerometer
    chmod 664 /dev/akm8975
    chown system system /sys/class/K3G_GYRO-dev/k3g/gyro_selftest_dps
    chown system system /sys/class/sec/gsensorcal/calibration
    chown system system /sys/class/proximity/proximity/proximity_avg
    chown system system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_selftest
    chown system system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_get_temp
    chown system system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_power_on
    chown system system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_selftest_dps
    chown system system /sys/devices/virtual/accelerometer/accelerometer/acc_file
    chown system system /sys/devices/virtual/sec/gsensorcal/calibration

    #bln
    chown system system /sys/class/misc/backlightnotification/notification_led
    chown system system /sys/class/misc/backlightnotification/enabled

    # vibrator (block this cmd temporary. vibrator driver cause reset during boot)
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0664 /sys/class/timed_output/vibrator/enable

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # bluetooth MAC address programming
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path

    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    # TelephonyManager.java requires this
    chmod 0644 /proc/cmdline

    # Enable Bluetooth 802.11 PAL when Bluetooth is turned on
    setprop ro.config.bt.amp no

    # permissions for NFC
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

    # Dummy command to open() /dev/smd0 and not attempt to read any bytes from it
    #
    # This causes smd_tty_open() in arch/arm/mach-msm/smd_tty.c to load
    # the modem firmware early. This is necessary to avoid a race condition
    # where in-call audio dies if a phone call is made before initialization
    # has finished.
    exec /system/xbin/busybox dd if=/dev/smd0 of=/dev/null bs=1 count=1 skip=1

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    #To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

on charger
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 1
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/online 0

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p10 /dev/block/mmcblk0p11 /dev/block/mmcblk0p17
    class main
    user root

service qmiproxy /system/bin/qmiproxy
    class main
    user radio
    group radio

# QMUX must be in multiple groups to support external process connections
service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps

service netmgrd /system/bin/netmgrd
    class main
    group radio

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c /data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL -f/system/etc/dhcpcd/dhcpcd.conf
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

on property:sys.boot_completed=1
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 2
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 2
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 2
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential 10
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_multi_core 70
    write /sys/devices/system/cpu/cpufreq/ondemand/down_differential_multi_core 3
    write /sys/devices/system/cpu/cpufreq/ondemand/optimal_freq 918000
    write /sys/devices/system/cpu/cpufreq/ondemand/sync_freq 1026000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_any_cpu_load 80
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
    write /sys/module/cpu_input_boost/parameters/enabled 1
    chown root system /sys/devices/system/cpu/mfreq
    chmod 220 /sys/devices/system/cpu/mfreq
    chown root system /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu1/online
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy
    chown system system /sys/devices/platform/rs300000a7.65536/force_sync
    chown system system /sys/devices/platform/rs300100a7.65536/force_sync
    write /sys/devices/platform/msm_sdcc.3/idle_timeout 10
    write /sys/kernel/msm_thermal/conf/start 1
    start mpdecision

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start

service charger /sbin/healthd -c
    class charger
    critical

service secril-daemon /system/bin/sec-ril
    class main
    user root
    group radio cache inet misc audio sdcard_rw log

service kickstart /system/bin/qcks l
    oneshot
    disabled

# Start kickstart if csfb or svlte2a target
on property:ro.baseband=csfb
    wait /dev/ttyHSL1
    mkdir /data/qcks 0770 system system
    start kickstart

on property:ro.baseband=svlte2a
    wait /dev/ttyHSL1
    mkdir /data/qcks 0770 system system
    start kickstart

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
    user root
    disabled

on property:ro.baseband=svlte2a
   setprop ro.config.ehrpd true
   setprop ro.ril.svlte1x true

on property:sys.radio.shutdown=true
   exec /system/bin/sh /system/etc/init.qcom.efs.sync.sh
